body {
    overflow-x: hidden;
}

/* ----------------------------The best design company-------- */
.The-best-design-company {
    padding-right: 20px;
    margin-top: 100px;
}
.The-best-design-company .span2{
color: red;
}
.The-best-design-company .span3{
    color:blue;
    }
.prefer {
    font-size: 22px;
}

.prefer-img img {
    width: 100%;
    height: 338px;
}
.span2 {
    white-space: nowrap;
    font-family: GE SS Two;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: rgba(66, 73, 91, 1);
}

.span3 {
    white-space: nowrap;
    text-align: right;
    font-family: GE SS Two;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: rgba(66, 73, 91, 1);
}
.Design-company {
    margin-top: 100px;

}

.Design-company img {
    padding-top: 100px;
    width: 100%;
}

.h2 {
    font-size: 61px;
    color: #0072bb;
    text-align: center;
    font-family: Abril Fatface;
    font-weight: 400;
    font-style: normal;
}

/* <!-- -------------------------------------------------------------------------------Articles--------------------------- */
.h3 {
    font-size: 40px;
    color: #0072bb;
    text-align: center;
    font-family: Abril Fatface;
    font-weight: 400;
    font-style: normal;
}

/* -------------------The most important features of Electro website design--------- */
.imgg {
    width: 20%;
}

.immg {
    justify-content: center;
    display: flex;
}
.maindiv2 {
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(136, 136, 136, 0.18);
    border-radius: 20px;
    padding: 20px;
}

/* <!-- -----------------------------------------------------------------------------Some of our work------------------------ */

.wh2 {
    text-align: center;
    margin-top: 150px;
    color: blue;

}

/* -------------------------------------------------------------------------------type of site-------------------------------- */
.Types-of-sites-container .col-lg-4 {
    text-align: center;
}
.wh2 {
    text-align: center;
    margin-top: 150px;
    color: blue;

}
.sitediv {
    justify-content: center;
    display: flex;
}
.siteimg {
    width: 100px;
    height: 100px;
}
.h5ing {
    justify-content: center;
    display: flex;
}

/* ---------------------------------------------------------------------------Advantages------------------------------------- */
.Advantages {
    margin-top: 300px;
}

.imgicons {
    width: 60px;
    display: block;
}

.Adimgdiv {
    justify-content: center;
    display: flex;

    padding: 39px;
}
.h555 {
    color: blue;
}



@media screen and (max-width:700px) {
    .Design-company .Dc .img {
        width: 100%;
    }

    .The-best-design-company .prefer {
        display: block;
    }

    .Articles .row {
        display: block;
    }

    .most-important-features-of-Electro-website-design .row {
        display: block;
        /* height: 0; */
        /* width: 100%; */
        margin-right: 0;
    }

    .most-important-features-of-Electro-website-design .maindiv2 {
        margin-bottom: 27px;
    }


    .Advantages .row {
        margin-top: -120px;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .Design-company .span1 {
        margin-right: 3px;

    }

    .prefer .col-lg-6 p{
        font-size: 16px;
    }
    .Some-of-our-work .row .mb-3{
        margin-bottom: 2rem !important;
    }
}
.row {
    padding: 10px;
}
.engin {
    margin-top: 70px;
}
.searching {
    justify-content: center;
    display: flex;
} 
