<div class="col-12 container set-margin-for-header">
    <div class="divh1">
        <h1 class="h1">مع فكره.. أنت في المقدمة</h1>
    </div>

    <div class="main2">
        <div class="office">
            <div class="off1"></div>
            <div class="off2">
                <h5>المكاتب و الفروع</h5>
            </div>
            <div class="off3"></div>
        </div>
        <div class="row">
            <div class="col-lg-6 pr-5">
                <h5>الكويت</h5>
                <br>
                <p>الايميل: moaazraed33@gmail.com</p>
                <br>
                <p>تليفون: +96560796761</p>
                <br>
                <p>حولي - السالمية - شارع سالم المبارك - مجمع شاهه دور 3 - مكتب رقم 4</p>
            </div>
            <div class="col-lg-6 text-center">
                <iframe class="frame"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3478.005272432949!2d48.073180125573636!3d29.340841251566008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fcf9d69a3d48b11%3A0xe0ba6dcdce24dc73!2z2YXYrNmF2Lkg2LTYp9mH2Yc!5e0!3m2!1sar!2seg!4v1694871562287!5m2!1sar!2seg"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>
        <br>
    </div>

</div>
