    <div class="col-12 container set-margin-for-header">
        <div class="With-fekra-at-the-forefront">
            <h1 class="h1">مع فكره.. أنت في المقدمة</h1>
        </div>
        <div class="row">
            <div class="col-6">
                <figure class="Election-imge">
                    <img src="assets/img/IMG1.jpg">
                </figure>
            </div>
            <div class="col-6">
                <img src="assets/img/IMG2.jpg">
            </div>
        </div>
    
        <div class="row">
            <div class="col-6">
                <img class="imge" src="assets/img/MG3.jpg">
            </div>
            <div class="col-6">
                <img src="assets/img/IMG4.jpg">
            </div>
        </div>
    
    </div>
