@media screen and (max-width:700px) {
    .row {
        margin-right: 0px;
        margin-left: 0px;

    }

    .row .col-6 {
        width: 100%;
        padding: 17px;
    }

    .With-fekra-at-the-forefront .h1 {
        text-align: center;
        color: blue;
    }

    .imge {
        margin-top: 0px;
    }

    .Election-imge {
        padding: 0px;
        margin-top: 0px;
    }
}

.With-fekra-at-the-forefront {
    /* padding-top: 30px; */
    margin-top: 100px;
}

.With-fekra-at-the-forefront .h1 {
    color: blue;
    text-align: center;
}

.row .col-6 {
    padding: 20px;
}

.Election-imge {
    padding: 11px;
    margin-top: -10px;
}

.imge {
    height: 106%;
    margin-top: -21px
}
