
/* <!-- -------------------------------Applications design company------------------------------- --> */
.design-company{
    margin-top: 100px;
}
.design-image {
    width: 500px;
    height: 400px;
    margin-top: 50px;
}
.span1 {
    color: orangered;
}

.span2 {
    color: blue;
}
.line {
    width: 5px;
    height: 130px;
    background-color: blue;
    margin-top: -170px;
    margin-left: 10px;
    margin-right: -15px;
}

.line2 {
    width: 5px;
    height: 90px;
    background-color: blue;
    margin-top: -100px;
    margin-right: -15px;
}
/* <!-- ------------------------------Company disign app------------------------------ --> */
.comapp {
    text-align: center;
}
.span3 {
    color: blue;
}
/* <!-- ------------------------------------------شركة فكرة تعمل  --> */
.our-services .row .col-6 img {
    width: 100%;
}

.our-services  .col-6 {
    text-align: center;
}
.thired-parag {
    margin-right: 20px;
}

.fourth-parag {
    margin-right: 30px;
}

.fivth-parag {
    margin-right: 60px;
}

.figure5 {
    width: 100%;

}
/* <!-- -------------------------------All neded--------------------------------------------------------------------------- */

.Allneded {
    display: flex;
}

.Allnededdiv1 img,
.Allnededdiv2 img {
    width: 107px;
    height: 107px;
    margin-top: 14px;
}

.Allnededdiv1 {
    flex: 1;
}
/* <!-- -------------------------------Store applications------------------------------------------------------------ --> */
.stor {
    text-align: center;
}

.stor .h22 {
    margin-right: -5px;
}
.stor .texts-div{
    padding: 0px 50px;
}
.stor img{
    width: auto;
}
/* <!-- ------------------------------- company-programs part -------------------------------- --> */
.co-programs .texts-div {
    padding-top: 40px;
    padding-right: 40px;
}

.co-programs .texts-div p {
    font-size: 18px;
}
/* <!-- ------------------------------- Private applications -------------------------------- --> */
.menyservices {
    color: #7f4398;
    text-align: right;
    font-family: Abril Fatface;
    margin-right: 40px;
}
/* <!-- ------------------------------- Mobile applications to promote your business -------------------------------- --> */
.h2serv {
    color: #7f4398;
    text-align: right;
    font-family: Abril Fatface;
    margin-right: 30px;
}
.row .simple-text {
    margin-right: 66px;
}

.row .h2serv {
    margin-right: 100px;
}
.figure2 {
    width: 400px;
}





@media screen and (max-width:700px) {
    .container .co-programs .texts-div {
        padding-right: 0px;
    }

    .row .Allnededdiv1 {
        margin-left: 10px
    }

    .row .Allnededdiv1 .img {
        width: 50%;
    }

    .stor .row .h22 {
        margin-right: 10px;
    }

    .figure5 {
        width: 100%;
    }

    .fgr .row {
        margin-right: 2%;
    }
    .design-image{
        width: 100%;
    }

    .row .simple-text {
        margin-right: 66px;
    }

    .row .h2serv {
        margin-right: 66px;
    }

    .row .tt-service-title {
        margin-right: 10px;
    }

    .row .c-h4 {
        margin-left: 5px;
    }

    .row .figu3 {
        margin-right: 0px;
        width: 100%;
    }

    .row .appimg {
        width: 100%;
        margin-right: 0px;
    }

    .row .line2 {
        width: 1%;
        height: 93px;
        background-color: blue;
        margin-top: -108px;
        margin-right: 0px;
    }

    .row .line {
        width: 1%;
        height: 130px;
        background-color: blue;
        margin-top: -148px;
        margin-right: 0px;
    }

    .row .firstp {
        margin-right: 10px;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

}

